*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}

body{
  margin: auto;

  padding: 4em 0;
  position: relative;

  max-width: 1000px;
}